/*
* @Author: Aleksiej Kuncewicz
* @Date:   2021-08-11 11:09:48
* @Last Modified by:   Aleksiej Kuncewicz
* @Last Modified time: 2021-08-11 21:32:15
*/

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 80px 0;
  background:  linear-gradient(
    180deg,
    map-get(map-get($mainPalette, blue), dark) 0%,
    map-get(map-get($mainPalette, blue), light) 100%
  );

  @include tablet {
    padding: 60px 0;
  }

  @include mobile {
    padding: 60px 0 100px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    height: 100%;

    @include tablet {
      width: 87.3%;
    }

    @include mobile {
      padding-bottom: 10px;
      border-bottom: 1px solid map-get($mainPalette, white);
    }

    @include mobile {
      position: relative;
      width: 91.7%;
      flex-direction: column;
      align-items: center;
    }

    .footer-info {
      @include mobile {
        width: 100%;
      }

      .footer-info__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        text-transform: uppercase;
        color: map-get($mainPalette, white);

        @include mobile {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 24px;
          line-height: 28px;
        }
      }

      .footer-info__content {
        margin-top: 30px;

        @include mobile {
          margin-top: 40px;
        }

        .footer-info__content-links {
          display: flex;
          flex-direction: column;

          @include mobile {
            display: none;
          }

          .footer-info__content-link {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              margin-bottom: 30px;
            }

            .footer-info__content-link__icon {
              display: flex;
              align-items: center;
              margin-right: 16px;
              color: map-get($mainPalette, white);
            }

            .footer-info__content-link__name {
              font-size: 16px;
              font-weight: normal;
              line-height: 19px;
              color: map-get($mainPalette, white);


              &.footer-info__content-link__name--capitalized {
                text-transform: capitalize;
              }
            }
          }
        }

        .footer-info__content-socials {
          margin-top: 30px;

          @include mobile {
            position: absolute;
            bottom: -60px;
            left: 0;
            width: 100%;
            margin-top: 0;
            display: flex;
            justify-content: center;
          }

          .footer-info__content-social {
            color: map-get($mainPalette, white);

            &:not(:last-child) {
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}