/*
* @Author: Aleksiej Kuncewicz
* @Date:   2021-08-11 10:09:23
* @Last Modified by:   Aleksiej Kuncewicz
* @Last Modified time: 2021-08-13 13:34:34
*/

.header-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: map-get(map-get($mainPalette, blue), dark);

  @include tablet {
    height: 90px;
  }

  @include mobile {
    height: 80px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;

    @include tablet {
      width: 87.3%;
    }

    @include mobile {
      width: 91.7%;
    }

    .header__left,
    .header__right {
      display: flex;
      align-items: center;
    }

    .header__logo {
      display: flex;
      align-items: center;
      padding: 6px 0;

      &::after {
        @include tablet {
          display: none !important;
        }

        @include mobile {
          display: none !important;
        }
      }

      .header__logo-link {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
        color: map-get($mainPalette, white);
      }
    }

    .header__menu {
      display: flex;
      align-items: center;

      @include tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }

      .header__menu-item {
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: map-get($mainPalette, white);
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 50px;
        }
      }
    }

    .header__logo,
    .header__toggle-menu {
      &::after {
        content: '';
        display: inline-block;
        height: 40px;
        width: 1px;
        margin: 0 30px;
        background-color: map-get($mainPalette, white);

        @include mobile {
          display: none;
        }
      }
    }

    .header__toggle-menu {
      display: flex;
      align-items: center;

      .header__toggle-menu-title {
        @include tablet {
          display: none;
        }

        @include mobile {
          display: none;
        }

        display: flex;
        align-items: center;
        color: map-get($mainPalette, white);
        cursor: pointer;

        .header__toggle-menu-title--name {
          margin-right: 5px;
          font-size: 16px;
          line-height: 19px;
          text-transform: capitalize;
        }
      }

      .header__toggle-menu-icon {
        display: none;
        color: map-get($mainPalette, white);
        cursor: pointer;

        @include tablet {
          display: inline-block;
        }

        @include mobile {
          display: inline-block;
        }
      }

      .header__toggle-menu-items {
        position: absolute;
        top: 0;
        z-index: 2;
        right: 0;
        width: calc(100% / 2);
        padding: 60px;
        background-color: map-get(map-get($mainPalette, blue), dark);

        @include tablet {
          width: 40%;
        }

        @include mobile {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          z-index: 1;
          padding: 30px;
        }

        .header__toggle-menu-item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          font-size: 16px;
          line-height: 19px;
          color: map-get($mainPalette, white);
          text-transform: uppercase;
          cursor: pointer;

          @include mobile {
            justify-content: center;
          }

          &:first-child {
            position: relative;
            margin-bottom: 60px !important;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -30px;
              width: 100%;
              height: 1px;
              background-color: map-get($mainPalette, white);
              opacity: 0.3;
            }
          }

          &:not(:last-child) {
            margin-bottom: 30px;
          }

          @include mobile {
            color: map-get($mainPalette, white);
          }

          > svg {
            margin-left: 10px;
          }
        }
      }
    }

    .header__icons {
      display: flex;
      align-items: center;

      @include mobile {
        display: none;
      }

      .header__icon {
        display: inline-block;
        color: map-get($mainPalette, white);
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 36px;
        }
      }
    }
  }
}