/*
* @Author: Aleksiej Kuncewicz
* @Date:   2021-08-12 00:38:12
* @Last Modified by:   Aleksiej Kuncewicz
* @Last Modified time: 2021-08-13 13:02:58
*/

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-height: 674px;

  @include tablet {
    position: relative;
    margin-bottom: 120px;
  }

  @include mobile {
    flex-wrap: nowrap;
    flex-direction: column;
    max-height: initial;
  }

  .product-container {
    padding: 25px;
    background-color: map-get($mainPalette, white);

    @include tablet {
      padding: 25px 20px;
    }

    @include mobile {
      padding: 10px 15px;
    }
  }

  .product-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: map-get($mainPalette, black);
  }

  .product-icon {
    color: map-get($mainPalette, green); 
  }

  .product {
    margin-right: 30px;

    @include tablet {
      margin-right: 20px;
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .product__pic {
      margin-bottom: 30px;

      @include tablet {
        margin-bottom: 20px;
      }

      @include mobile {
        margin-bottom: 10px;
      }

      .product__pic__header {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        color: map-get($mainPalette, gray);

        .product__pic__header-data {
          display: flex;
          align-items: center;

          .product__pic__header-data-star {
            margin-left: 5px;
          }

          .product__pic__header-data-reviews-count {
            display: flex;
            align-items: center;

            &::before {
              content: "";
              display: inline-block;
              margin: 0 10px;
              height: 20px;
              width: 1px;
              background-color: map-get($mainPalette, gray);
              opacity: 0.3;
            }
          }

          .product__pic__header-data-reviews-label {
            margin-left: 5px;
          }
        }

        .product__pic__header-code {
          display: flex;
          align-items: center;

          .product__pic__header-code-title {
            margin-right: 10px;
          }

          .product__pic__header-code-value {

          }
        }

        .product__pic__header-data-reviews-label,
        .product__pic__header-code-title {
          opacity: 0.4;
        }
      }
      
      .product__pic__main {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 22px 0;

        .product__pic__main-title {
          position: absolute;
          top: 34px;
          left: 0;
          display: flex;
          flex-direction: column;
          color: map-get($mainPalette, black);

          .product__pic__main-title__name {
            margin-bottom: 10px;
          }

          .product__pic__main-title__discount-price {
            font-size: 18px;
            line-height: 21px;
          }

          .product__pic__main-title__price {
            font-size: 14px;
            line-height: 17px;
            opacity: 0.4;
            text-decoration: line-through;
          }
        }

        .product__pic__main-src {
          width: 66.6%;
          height: 100%;
        }
      }
    }

    .product__additional-pics {
      display: flex;
      justify-content: space-between;

      .product__additional-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 3);

        &:not(:last-child) {
          margin-right: 30px;

          @include mobile {
            margin-right: 10px;
          }
        }

        .product__additional-pic-src {
          width: 47%;
          height: 100%;
        }
      }
    }
  }

  .product__info {

  }

  .product,
  .product__actual,
  .product__description,
  .product__price {
    width: calc((100% / 2) - 15px);
    margin-bottom: 30px;

    @include tablet {
      width: calc((100% / 2) - 10px);
      margin-bottom: 20px;
    }

    @include mobile {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .product__actual {
    display: flex;
    justify-content: space-between;

    .product__actual-price {
      display: flex;
      align-items: center;

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      .product__actual-price__title {
        margin-right: 20px;
      }

      .product__actual-price__value {
        font-size: 18px;
        line-height: 21px;
        color: map-get($mainPalette, black);
      }
    }

    .product__actual-date {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 19px;
      color: map-get($mainPalette, gray);

      @include tablet {
        flex-direction: column;
        align-items: flex-end;

        .product-icon {
          display: none;
        }
      }

      @include mobile {
        flex-direction: column;
        align-items: flex-end;

        .product-icon {
          display: none;
        }
      }

      .product__actual-date__title {
        opacity: 0.4;
        margin-right: 5px;

        @include tablet {
          margin-right: 0;
        }

        @include mobile {
          margin-right: 0;
        }
      }

      .product__actual-date__value {
        margin-right: 15px;

        @include tablet {
          margin-right: 0;
        }

        @include mobile {
          margin-right: 0;
        }
      }
    }
  }

  .product__description {
    .product__description__title {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 19px;
      color: map-get($mainPalette, black);
    }

    .product__description__value {
      display: inline-block;
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 22px;
      color: map-get($mainPalette, gray);
      opacity: 0.4;
    }

    .product__description__colors {
      .product__description__color {
        display: inline-block;
        width: 28px;
        height: 28px;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
  }

  .product__price {
    @include mobile {
      position: relative;
      margin-bottom: 60px;

    }
    .product__price__title {
    }

    .product__price__checkbox {
      display: flex;
      flex-direction: column;
      padding: 25px 0;

      @include mobile {
        padding: 30px 0;
      }

      .product__price__checkbox-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
          flex-direction: column;
          align-items: flex-start;

          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }

        .product__price__checkbox-row__title {
          font-size: 16px;
          line-height: 19px;
          color: map-get($mainPalette, gray);

          @include mobile {
            margin-bottom: 15px;
          }
        }

        .product__price__checkbox-row-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .checkbox {
            display: flex;
            align-items: center;

            label {
              display: flex;
              align-items: center;
              font-size: 16px;
              line-height: 19px;
              color: map-get($mainPalette, gray);
              opacity: 0.7;

              @include mobile {
                flex-direction: column-reverse;
                align-items: flex-start;

                span {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }

    .product__price__actions {
      display: flex;
      justify-content: space-between;

      @include tablet {
        position: absolute;
        bottom: -44px;
        left: 0;
        width:  100%;
      }

      .button {
        width: calc(100% / 2);

        @include mobile {
          width: 100%;

          &:last-child {
            position: absolute;
            bottom: -60px;
            left: 0;
          }
        }

        &:first-child {
          margin-right: 10px;

          @include mobile {
            margin-right: 0;
          }
        }
      }
    }
  }
}