/*
* @Author: Aleksiej Kuncewicz
* @Date:   2021-08-11 10:11:40
* @Last Modified by:   Aleksiej Kuncewicz
* @Last Modified time: 2021-08-13 10:50:06
*/

/*
* Grid
*/
$tablet: 1024px;
$mobile: 768px;

/*
* Fonts
*/
$roboto: 'Roboto', sans-serif;

/*
* Colors
*/
$mainPalette: (
  black: #000000,
  blue: (
    dark: #287194,
    light: #0F435B
  ),
  gray: #5C5C5C,
  green: #328863,
  white: #ffffff
);