/*
* @Author: Aleksiej Kuncewicz
* @Date:   2021-08-11 10:11:40
* @Last Modified by:   Aleksiej Kuncewicz
* @Last Modified time: 2021-08-11 22:15:08
*/

/*
* Grid
*/
$tablet: 764px;
$mobile: 360px;

/*
* Fonts
*/
$roboto: 'Roboto', sans-serif;

/*
* Colors
*/
$mainPalette: (
  blue: (
    dark: #287194,
    light: #0F435B
  ),
  white: #ffffff,
  gray: #5C5C5C
);